$primary: #1971c2;
$secondary: #1d508a;
$tertiary: #184574;
$quaternary: #302f6e;
$quinary: #e7f0f9;

$success: #2e8b57;
$info: #3bc9db;
$warning: #ffa500;
$danger: #dc143c;
$dark: #696969;
$light: #f1f4f7;

$gray: #a9a9a9;
$gray-light: #d3d3d3;
$gray-silver: #e1e7f0;
$gray-scrollbar-track: #f5f5f5;

$twitter-color: #1da1f2;
$facebook-color: #4267b2;

$box-shadow: #00000029;
$white: #fff;
$black: #000;
